/* GENERAL STYLES */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

.pageBar {
  padding: 10px;
  text-align: left;
  background: rgb(173, 219, 235);
  font-size: 25px;
}

.logo {
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

.title {
  font-size: 30px;
  padding-left: 30px;
  color: rgb(3, 41, 54);
}



/* Settings Menu */
.settingDropdown {
  float: left;
  text-align: left;
  margin: 5px;
  position: relative;
}

#settingDropBtn {
  background-color: lightgrey;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
}

#settingDropBtn:hover {
  background-color: grey;
}



/* Buttons for start and stop */
.startStopButtons {
  text-align: right;
}

#stopbutton {
  background-color: lightcoral;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

#stopbutton.active {
  display: none;
}

#startbutton {
  background-color: lightgreen;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

#startbutton.active {
  display: none;
}



/* Area for blockly workspace */
#blocklyDiv {
  height: 100%;
  width: 100%;
}

#blocklyArea {
  height: 99%;
}

#toolbox {
  display: none;
}

.mode-edit,
.mode-maker,
.mode-blockly {
  display: none;
}

[mode="maker"] .mode-maker,
[mode="edit"] .mode-edit,
[mode="blockly"] .mode-blockly {
  display: block;
}

.mdl-button {
  margin: 1em 0;
  float: right;
}

.show {display: block;}

.formArea {
  padding: 30px;
}

.formRow {
  padding-top: 10px;
  padding-bottom: 15px;
}

.formSubmit {
  padding-bottom: 20px;
}

#custom-text {
  color: #aaa;
}

