html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
header {
  padding: 10px;
  text-align: center;
  background: lightblue;
  font-size: 30px;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}

.startStopButtons {
  text-align: right;

}
.settingDropdown {
  float: left;
  text-align: left;
}

#blocklyArea {
  height: 99%;
}

.mode-edit,
.mode-maker,
.mode-blockly {
  display: none;
}

[mode="maker"] .mode-maker,
[mode="edit"] .mode-edit,
[mode="blockly"] .mode-blockly {
  display: block;
}

#startbutton {
  background-color: lightgreen;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
}
#stopbutton {
  background-color: lightcoral;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
}

#settingDropBtn {
  background-color: lightgrey;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
}

.mdl-button {
  margin: 1em 0;
  float: right;
}

.settingsDropdown {
  margin: 5px;
  position: relative;
  display: inline-block;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  font-family: sans-serif;
}

#dropdown.active{
  display: inline-block;
  margin: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  padding: 10px;
  color: white;
  background-color: rgb(187, 185, 185);
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer
};

.show {display: block;}

.formArea {
  padding: 20px;
}

.formRow {
  padding-top: 10px;
  padding-bottom: 15px;
}

.formSubmit {
  padding-bottom: 20px;
}

.settingsButton {
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
}

.settingsButton.hover {
  background-color: #00b28f;
}

#custom-text {
  color: #aaa;
}

#resetConnection {
  background-color: lightcoral;
}